body{
	background-color: #111111;
}

figcaption {
	color: #b94646;
}

.main {
	float: left;
	display: inline-block;
	margin-left: 250px;
	margin-bottom: 100px;
	height: 200px;
	width: 250px;
}

h1, h3 {
	text-align: center;
	font-family: Helvetica;
	color: #b94646;
}

#map {
	height: 400px;
	width: 600px;
	display: block;
	margin: 0 auto;
}

#origin, #destination {
	display: block;
	margin: 0 auto;
}

#temp {
	font-size: 36px;
	color: #b94646;
}

#fan {
	font-size: 45px;
}

table{
	font-size: 24px;
	color: #b94646;
	margin-left:auto;
	margin-right:auto;
}
.slider {
	margin-left: 50px;
	margin-right: 50px;
}

.media {
	text-align:center;
	width:100%;
}

.logo {
	height: 200px;
	width: 190px;
	padding-bottom: 20px;
}

.tiny-logo {
	width: 60px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;;
}

.img {
	height: 200px;
	width: 200px;
}
