.main {
	float: left;
	display: inline-block;
	margin-left: 250px;
	margin-bottom: 100px;
	height: 200px;
	width: 250px;
}

h1, h3 {
	text-align: center;
	font-family: Helvetica;
}

#map {
	height: 400px;
	width: 600px;
	display: block;
	margin: 0 auto;
}

#origin, #destination {
	display: block;
	margin: 0 auto;
}

#temp {
	font-size: 36px;
}

#fan {
	font-size: 45px;
}

table{
	font-size: 24px;
}
.slider {
	margin-left: 50px;
	margin-right: 50px;
}

.media {
	text-align:center;
	width:100%;
}

.img {
	height: 200px;
	width: 200px;
}