.main {
	float: left;
	display: inline-block;
	margin-left: 150px;
}

#map {
	height: 400px;
	width: 600px;
	display: block;
	margin: 0 auto;
}

#origin, #destination {
	display: block;
	margin: 0 auto;
}

#fan, #temp {
	font-size: 36px;
}

.slider {
	margin-left: 50px;
	margin-right: 50px;
}

.media {
	text-align:center;
	width:100%;
}